@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 2800px;
}

/* Logo styling */
.logo img {
  height: 70px;
  width: auto;
  margin-left: 50px;
}

/* Navigation list styling */
ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

ul li {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

ul li:hover {
  color: red;
}

/* Login button styling */
button {
  background-color: red;
  color: #fff;
  padding: 0.5rem 1rem;
  height: fit-content;
  margin-top: 10px;
  margin-right: 30px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: brown;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  text-align: left;
  margin: 180px;
}

.hero-content h1 {
  font-size: 108px; /* Large headline */
  line-height: 100px;
  color: #060505; /* Dark color for contrast */
  display: initial;
}

.hero-content p {
  font-size: 1.2rem; /* Readable paragraph size */
  line-height: 1.6; /* Better line spacing */
  color: #555; /* Softer text color */
  margin-bottom: 30px; /* Space below paragraph */
}

.hero-btn {
  display: flex; /* Use flexbox for button layout */
  gap: 10px; /* Space between buttons */
}

.hero-btn button {
  padding: 12px 20px; /* Button padding */
  font-size: 1rem; /* Font size for buttons */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

.hero-btn button:hover {
  background-color: #007bff; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.hero-image {
  width: 100%; /* Limit the image width */
  height: max-content;
}

.hero-image img {
  width: 100%; /* Make image responsive */
  height: max-content; /* Maintain aspect ratio */
}

/* Responsive styling */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  ul {
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
  }

  button {
    margin-top: 1rem;
  }
}
